<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/javascript"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">

</head>
<body>
	<div class="container">
		<div class="row">
			<form action="j_spring_security"  method="post"
				class="form-signin">
				<h2 class="form-signin-heading">Please sign in</h2>
				<div class="col-md-6">
					<div class="form-group">
						<label for="username">Username</label>
						<input  type="text" class="form-control" id="name"
							name="username" placeholder="Jane Doe" style="width:300px" >
					</div>
					<div class="form-group">
						<label for="exampleInputEmail2">Password</label> 
						<input type="password" class="form-control"  name="password"
							placeholder="jane.doe@example.com" style="width: 300px">
					</div>
					<div class="checkbox">
						<label> <input type="checkbox" value="remember-me">
							Remember me?
						</label>
					</div>
					<button class="btn btn-md btn-success" type="submit">Sign
					in</button>
				</div>
				
			</form>
			<span>Time:</span>
	<ul>
		<li>From controller: $time</li>
		<li>From velocity: $dateTool</li>
	</ul>
	<span>Message: $message</span>
			<h3>OR</h3>
			<a href="registration.htm" class="btn btn-md btn-primary" role="button">Register</a>


		</div>
	</div>
	<!-- /container -->


</body>
</html>